<!DOCTYPE html>
<html lang="en">
<%- include("./partials/header.ejs") %>
<body>
    <br><br>
    <div class="flexbox"><p>Result for <%-field%>:<%-val%></p></div>
    <main>
            <table id="results-table-alt">
                <tr>
                <%
                    for (var key in results2) {
                        if (results2.hasOwnProperty(key)) {
                            for(var field in results2[key]){
                                if(field in reqBody){
                                %>
                                    <th><%- field %></th>
                                <%
                                }
                            }
                            break;
                        }
                    }
                %>
                </tr>
                
                <%
                    for (var key in results2) {
                        %>
                        <tr>
                        <%
                        if (results2.hasOwnProperty(key)) {
                            for(var value in results2[key]){
                                if(results2[key] != 'not found'){
                                    if(value in reqBody){
                                    %>
                                        <td><%- results2[key][value] %></td>
                                    <%
                                    }
                                }
                                else{
                                %>
                                    <td class="error"><%-field%>:<%-val%> not found</td>
                                <%
                                break;
                                }
                            }
                        }
                        else
                        %></tr><%
                    }
                %>
            </table> 
    </main>
    <div class="flexbox"><button onclick="exportToExcel()">Export To Excel File</button></div>
    <script>
        function exportToExcel() {
            var downloadurl;
            var dataFileType = 'application/vnd.ms-excel';
            var tableSelect = document.getElementById('results-table-alt');
            var tableHTMLData = tableSelect.outerHTML.replace(/ /g, '%20');
            filename = 'searchresults2.xls';
            downloadurl = document.createElement("a");
            document.body.appendChild(downloadurl);
            if (navigator.msSaveOrOpenBlob) {
                var blob = new Blob(['\ufeff', tableHTMLData], {
                    type: dataFileType
                });
                navigator.msSaveOrOpenBlob(blob, filename);
            } else {
                downloadurl.href = 'data:' + dataFileType + ', ' + tableHTMLData;
                downloadurl.download = filename;
                downloadurl.click();
            }
        }

    </script>
    <%- include("./partials/footer.ejs") %>
</html>