<!DOCTYPE html>
<html lang="en">
<%- include("./partials/header.ejs") %>
<body>
    <main>
            <table>
                <tr>
                <%
                    for (var key in results) {
                        if (results.hasOwnProperty(key)) {
                            for(var field in results[key]){
                            %>
                                <th><%- field %></th>
                            <%
                            }
                            break;
                        }
                    }
                %>
                </tr>
                
                <%
                    for (var key in results) {
                        %><tr><%
                        if (results.hasOwnProperty(key)) {
                            for(var value in results[key]){
                                if(results[key] != 'not found'){
                                %>
                                    <td><%- results[key][value] %></td>
                                <%
                                }
                                else{
                                %>
                                    <td>Service Tag : <%- key %> not found</td>
                                <%
                                break;
                                }
                            }
                        }
                        else
                        %></tr><%
                    }
                %>
            </table>
    </main>
    <%- include("./partials/footer.ejs") %>
</body>
</html>